*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    position: relative;
    display: flex;
    background: #E4E5F1;
}

#menu{
    width: 300px;
    height: 100%;
    background: #FAFAFA;
}

#menu .logo{
    display: flex;
    align-items: center;
    padding: 30px 0 0 30px;
}
 
#menu .logo img{
    width: 40px;
    margin-right: 50px;
}

#menu .items{
    margin-top: 40px;
}

#menu .items li{
    list-style: none;
    padding: 15px 0;
    transition: 0.3s ease;
}

#menu .items li i{
    color: #31393c;
    width: 30px;
    height: 20px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    margin: 0 10px 0 25px;
}

#menu .items li a{
    text-decoration: none;
    font-weight: 400;
    transition: 0.3s ease;
    color: #31393c;
}

#menu .items li:hover{
    background: #d2d3db;
}

#menu .items li:nth-child(1){
    border-left: 4px solid #27187e;
}

#menu .items li:hover i,
#menu .items li:hover a{
    color: #27187e;
}

#interface{
    width: calc(100%-300px);
}

#interface .navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FAFAFA;
    padding: 15px 30px;
    border-bottom: 1px solid #d2d3db;
}

#interface .navigation .search{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 14px;
    border: 1px solid #d2d3db;
    border-radius: 4px;
}

#interface .navigation .search input{
    border: none;
    outline: none;
    font-size: 14px;
}

#interface .navigation .search i{
    margin-right: 12px;
}

#interface .navigation .profile{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#interface .navigation .profile i{
    margin-right: 20px;
    font-size: 19px;
    font-weight: 400;
}

#interface .navigation .profile img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.i-name{
    padding: 30px 30px 0 30px;
    font-size: 24px;
    font-weight: 700;
}